html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #747c82;
}

a {
  color: #747c82;
  text-decoration: none;
}

input:focus, textarea:focus {
  outline: none;
}

.right {
  text-align: right;
}

.form_buttons {
  text-align: right;
}

.form_buttons input {
  border: 1px solid #d1d1d1;
  background-color: #747c82;
  color: #ffffff;
  padding: 5px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

div#wrapper {

}

div#sign_in_box {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #D1D1D1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-top: 200px;
  padding: 40px;
}

div#sign_in_box input[type=text], div#sign_in_box input[type=password] {
  font-size: 16px;
  width: 388px;
  padding: 5px;
  border: 1px solid #d1d1d1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#sign_in_box input[type=submit] {
  border: 1px solid #d1d1d1;
  background-color: #747C82;
  color: #f1f1f1;
  font-size: 16px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div#sign_in_box a {
  font-size: 12px;
}

div#sign_in_box a:hover {
  color: #404040;
}

/* Toolbar */

div#toolbar {
  position: absolute;
  top: 0px;
  height: 50px;
  background-color: #cccccc;
  width: 100%;
}

div#toolbar input[type=text] {
  position: absolute;
  right: 20px;
  width: 250px;
  font-size: 14px;
  border: 1px solid #f1f1f1;
  color: #7e7e7e;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

div#toolbar div#search {
  position: absolute;
  right: 20px;
  width: 300px;
  height: 50px;
  background-color: #c0c0c0;
}

/* Search Results */

div#search_results {
  position: absolute;
  right: 20px;
  top: 50px;
  background-color: #ffffff;
  width: 300px;
  -moz-box-shadow: 0px 2px 5px #acacac;
  -webkit-box-shadow: 0px 2px 5px #acacac;
  box-shadow: 0px 2px 5px #acacac;
  display: none;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
}

div#search_results table {
  border-spacing: 0px 0px;
}

div#search_results table tr.selected {
  background-color: #c0c0c0;
  color: #f1f1f1;
}

div#search_results table td {
  font-size: 12px;
  vertical-align: middle;
}

div#search_results table td.search_category {
  width: 60px;
  padding-left: 10px;
  text-align: right;
  font-weight: bold;
}

div#search_results table td.search_category_result {
  width: 280px;
  text-align: left;
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* MATRIX */

div#matrix {
  margin-top: 100px;
  padding: 30px;
}

div#matrix div.uri {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 10px;
  position: relative;
}

div#matrix div.uri img {
  border: 5px solid #ffffff;
  padding: 1px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

div#matrix div.uri div.meta {
  position: absolute;
  top: 169px;
  right: 6px;
  padding: 10px;
  height: 16px;
  background-color: #ffffff;
  border-top: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  border-top-left-radius:5px;
  opacity: 0;
}

div#matrix div.uri div.meta.active {
  opacity: 100;
}

div.meta a {
  display:block;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

a.show_url {
  background-image: url(/images/eye_icon_16.png);
}

a.edit_url {
  background-image: url(/images/doc_edit_icon_16.png);
}

a.delete_url {
  background-image: url(/images/delete_icon_16.png);
}

div#matrix div.uri div.meta img {
  border: none;
  background-color: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  padding-right: 5px;
  padding-left: 5px;
}

div#matrix div.uri div.details {
  color: #404040;
  text-align: center;
  height: 60px;
}

div#matrix div.uri div.details h3 {
  height: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
}

div#matrix div.uri div.details input[type=text] {
  margin-top: -8px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  border: none;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  vertical-align: top;
  width: 200px;
  text-align: center;
}

/* edit url */

div#edit_url_view {
  width: 800px;
  min-height: 400px;
  background-color: #ffffff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-align: left;
  font-size: 12px;
}

div#edit_url_view p {
  margin-top: 0px;
  margin-bottom: 10px;
}

div#edit_url_view .thumbnail_frame {
  border: 1px solid #d1d1d1;
  position: absolute;
  left: 40px;
  top: 50px;
}

div#edit_url_view form {
  position: absolute;
  left: 390px;
  top: 50px;
}

div#edit_url_view form textarea, div#edit_url_view form input[type=text] {
  color: #747C82;
  width: 350px;
  border: 1px solid #d1d1d1;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* pagination */

a#more {
  display: block;
  clear: both;
  height: 20px;
  padding: 20px;
}