html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #747c82;
}     

a {
	color: #747c82;
	text-decoration: none;
}                

input:focus {
	outline: none;
}
   
.right {
	text-align: right;
}

div#wrapper {

}

div#sign_in_box {
	width: 400px;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #D1D1D1;     
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin-top: 200px;
	padding: 40px;
}                   

div#sign_in_box input[type=text], div#sign_in_box input[type=password] {
	font-size: 16px;
	width: 388px;
	padding: 5px;
	border: 1px solid #d1d1d1;     
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}  

div#sign_in_box input[type=submit] {
	border: 1px solid #d1d1d1;
	background-color: #747C82;
	color: #f1f1f1;
	font-size: 16px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}                  

div#sign_in_box a {
	font-size: 12px;
}                

div#sign_in_box a:hover {
	color: #404040;
}                      

/* MATRIX */

div#matrix {    
	margin-top: 100px;
	padding: 30px;
}              

div#matrix div.uri { 
	float: left;
	margin-left: 25px;
	margin-right: 25px;    
	font-size: 10px;
	position: relative;
}

div#matrix div.uri img {
	border: 5px solid #ffffff;  
	padding: 1px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	
}

div#matrix div.uri div.details {
	color: #404040;
	text-align: center;    
 	height: 50px;
}                             

div#matrix div.uri div.details h3 {
	margin-top: 5px;
	margin-bottom: 0px;
} 

div#matrix div.uri div.details input[type=text] {
	margin-top: -8px;
	margin-bottom: 0px;
	background-color: #f1f1f1;
	border: none;
	height: 10px;    
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	width: 200px;
	text-align: center;
}              

